//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

@import 'variables';
@import '../bootstrap/variables';

.bg-lightgray {
    background-color: $light-gray;
}

a.link {
    color: $info;
    text-decoration: underline;
}

.nav-pill.active {
    background-color: $info !important;

}

.nav-pill {
    background-color: $gray-600 !important;
}

span.marked {
    text-decoration: underline;
    color: $primary;
}

.square {
    width: 60px;
    height: 60px;
}

$sizes: ( 25: 25%, 50: 50%, 75: 75%, 100: 100%, auto: auto, fit:fit-content );

@each $breakpoint in map-keys($grid-breakpoints) {
    @each $size, $length in $sizes {
      @include media-breakpoint-up($breakpoint) {
        .w-#{$breakpoint}-#{$size} {width: $length !important;}
      }
    }
}