//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
// $primary: #a48ad4;

$light-gray: #cccccc;
$primary: #8c8c00;
$info: #015781;
$light: #ebeded;